#footer {
  background-color: #332e2d;
  color: #fff;
  padding: 160px 66px 41px;

  .wrap-content {
    display: flex;
    justify-content: space-between;
    gap: 120px;

    .left-container {
      .table-info {
        border-collapse: separate;
        border-spacing: 0 26px;
        tr td:first-child {
          font-weight: 600;
          font-size: 12px;
          width: 95px;
          color: #fff;
          display: flex;
        }

        tr td:nth-child(2) {
          color: #fff;
          font-weight: 300;
          font-size: 12px;
        }

        tr td.multiple-line div {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }

    .right-container {
      .wrap-menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 40px;

        li {
          display: flex;
          flex-direction: column;

          a {
            text-decoration: none;
            color: #fff;
          }

          a:nth-child(2) {
            margin-top: 10px;
          }

          h5 {
            max-width: 120px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.5px;
            margin-bottom: 0;
            word-break: break-all;
          }
          h6 {
            max-width: 90px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            margin-bottom: 0;
          }
          span {
            color: var(--color-text-light-2);
            font-weight: 300;
            font-size: 12px;
          }
        }
      }

      .policy {
        display: none;
      }
    }
  }

  .copy-right {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f4f4f4;
    font-size: 14px;

    a {
      text-decoration: none;
      font-size: 14px;
      color: #f4f4f4;
    }
  }

  @media (max-width: 1023px) {
    padding: 60px 66px 41px;

    .wrap-content {
      flex-direction: column-reverse;
      gap: 56px;

      .left-container {
        .wrap-logo {
          margin-bottom: 20px;
          img {
            height: 44px;
          }
        }

        .table-info {
          border-spacing: 0 12px;

          tr td.multiple-line div {
            gap: 6px;
          }
        }
      }

      .right-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .wrap-menu ul {
          flex-direction: column;
          gap: 12px;

          li {
            a {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            a:nth-child(2) {
              margin-top: 4px;
              font-size: 16px;
            }

            h5 {
              max-width: 100%;
              font-size: 24px;
            }
            h6 {
              max-width: 100%;
              font-size: 16px;
            }
            p {
              font-size: 10px;
            }
          }
        }
        .policy {
          display: block;
          color: #fff;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }

    .copy-right {
      margin-top: 40px;
      .policy {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 60px 30px 40px;
  }

  @media (max-width: 479px) {
    padding: 54px 18px 40px;

    .wrap-content {
      .left-container {
        .wrap-logo {
          margin-bottom: 20px;
          img {
            height: 44px;
          }
        }

        .table-info {
          border-spacing: 0 6px;
          tr td:first-child {
            font-size: 10px;
          }

          tr td:nth-child(2) {
            font-size: 10px;
          }

          tr td.multiple-line div {
            gap: 2px;
          }
        }
      }

      .right-container {
        .policy {
          font-size: 10px;
        }
      }
    }
  }
}
