:root {
  --color-btn: #E45D3E;
  --color-text-primary: #222222;
  --color-text-second: #111111;
  --color-text-light: #D9DCE3;
  --color-text-light-2: #A2A2A2;

  --transition: all 0.2s linear;
}

/*
Break Point

Thiết bị nhỏ (smartphone, dọc):

Chiều rộng: 320px - 479px
Breakpoint: max-width: 479px
Thiết bị trung bình (tablet, smartphone ngang):

Chiều rộng: 480px - 767px
Breakpoint: min-width: 480px and max-width: 767px
Thiết bị lớn (tablet ngang, laptop nhỏ):

Chiều rộng: 768px - 1023px
Breakpoint: min-width: 768px and max-width: 1023px
Thiết bị rất lớn (laptop, desktop):

Chiều rộng: 1024px - 1279px
Breakpoint: min-width: 1024px and max-width: 1279px

Màn hình lớn hơn (2K, 4K):
Chiều rộng: 1280px trở lên
Breakpoint: min-width: 1280px

*/